# Large datasets (IMPORTANT)
v1.0-mini/
kitti/
kitti_odometry/
*.bin
*.pcd
*.ply
*.bag

kitti_data/
output_kitti/

# Python
__pycache__/
*.pyc
.venv/
venv/
.lidar_gap_mapping/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store